.nav{
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9.5vw;
    padding: 20px;
    width: 50vw;
    height: 5vh;
    gap: 0.3vw;
}

.items {
    text-align: center;
    align-content: center;
    justify-content: center;
    list-style: none;
    border: 1.5px solid rgb(0, 106, 138);
    border-radius: 50%;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 4px;
    background-color: rgba(116, 221, 253, 0.928);
    color: rgb(0, 106, 138);
}

.a {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
    font-family: 'Verdana', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin:  5px;
}

.items:hover {
    background-color: rgb(0, 106, 138);
    box-shadow: 2px 1px 2px 1px rgba(255, 255, 255, 0.651);
    border: 1.5px solid rgba(116, 221, 253, 0.928);
    color: rgba(116, 221, 253, 0.928);
}
