@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

body{
  overflow-y: hidden;

}

ul, ol {
    list-style: none;
}

.main-container{
    background-color: aquamarine;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 85px;
    padding: 10px 10%;
}

.main-container .logo img{
    width: auto;
    height: 70px;
    transition: all 0.3s;
    cursor: pointer;
}

.main-container .logo img:hover{
    transform: scale(1.1);

}
  
.main-container .list li{
    display: inline-block;
    padding: 0 20px;
}

.main-container .list a{
    font-size: 700;
    color: gray;
    text-decoration: none;
}

.main-container .list li a:hover{
    color: rgb(69, 94, 240)
}

.main-container .list li:hover{
    transform: scale(1.1);
    
}

.main-container .button button{
    font-weight: 700;
    color: rgb(90, 84, 77);
    padding: 9px 25px;
    background-color: rgb(222, 219, 233);
    border: none;
    border-radius:50px;
    cursor: pointer;
    transition: all 0.3s;
}

.main-container .button button:hover{
    color: rgb(69, 94, 240);
    transform: scale(1.1);
    background-color: (248, 233, 246rgb);
}

.main-section{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.main-section img{
  margin-top: 0;
  width:100%;
  height: 60vh;
  border: solid 3px white;
  box-shadow: 0 0 10px 5px rgba(39, 216, 8, 0.5);
  border-radius: 20px;
  margin: 100px;
}
h1 {
  width: 100%;
  height: 100vh;
  color: transparent; /* Establecer el color del texto a transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  margin: 0; /* Asegurarse de que no haya margen en el h1 */
  padding: 0; /* Asegurarse de que no haya padding en el h1 */
  background-image: url("https://tm.ibxk.com.br/2021/12/22/22114306286189.jpg?ims=1200x675");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center; /* Centrar el texto en el h1 */
  -webkit-background-clip: text; /* Agregar el prefijo -webkit- para mayor compatibilidad con navegadores */
  background-clip: text;
}

h2 {
  color: transparent; /* Establecer el color del texto a transparente */
  font-size: 50px;
  font-weight: bold;
  margin: 0; /* Asegurarse de que no haya margen en el h2 */
  padding: 0; /* Asegurarse de que no haya padding en el h2 */
  background-image: url("https://tm.ibxk.com.br/2021/12/22/22114306286189.jpg?ims=1200x675");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center; /* Centrar el texto en el h2 */
  -webkit-background-clip: text; /* Agregar el prefijo -webkit- para mayor compatibilidad con navegadores */
  background-clip: text;
}



.main-section .link{
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  
 }

 .main-section .link{
  text-decoration: none;
 }