.container1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.filtros{
    margin: 5px;
    background-color: rgb(105, 105, 224);
    width: 300px;
    height: 30px;
    color: white;
    cursor: pointer;
    border: 1px solid rgb(73, 73, 155);
    border-radius: 10px;
}
.container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}