
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  
  
}